<mat-card>
  <mat-card-title>Workout</mat-card-title>
  <mat-card-subtitle>Exercises for today</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="workoutForm">
      <div formArrayName="exercises">
        <mat-accordion *ngFor="let exercise of exercises().controls ; let exerciseIndex=index">
          <div class="day-container" [formGroupName]="exerciseIndex">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <button mat-icon-button color="warn" (click)="removeExercise(exerciseIndex)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  {{exercise.value.exerciseName}}
                </mat-panel-title>
                <mat-panel-description>
                  Sets: {{exercise.value.sets.length}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div formArrayName="sets">
                <ng-container *ngFor="let set of sets(exerciseIndex).controls;; let setIndex=index">
                  <div [formGroupName]="setIndex" class="set-container">
                    <mat-form-field class="input-num" appearance="standard">
                      <mat-label>Reps</mat-label>
                      <input matInput type="number" min="1" value='2' formControlName="reps">
                    </mat-form-field>
                    <mat-form-field class="input-num" appearance="standard">
                      <mat-label>Weight</mat-label>
                      <input matInput type="number" placeholder="12" min="0" value="0" formControlName="weight">
                    </mat-form-field>
                    <mat-checkbox class="mg-btm20" color="primary" formControlName="isDone">Done</mat-checkbox>
                    <mat-checkbox class="mg-btm20" color="warn" formControlName="isFail">Fail</mat-checkbox>
                    <button class="mg-btm13" mat-icon-button color="warn" (click)="removeSets(exerciseIndex, setIndex)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
                ADD A SET <button mat-mini-fab color="warn" (click)="addSet(exerciseIndex)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
    </form>
    <mat-form-field appearance="standard">
      <mat-label>Exercise</mat-label>
      <input type="text" matInput (keyup)="onKey($event)">
    </mat-form-field>
    <button mat-fab color="warn" (click)="addExercise()">
      <mat-icon>add</mat-icon>
    </button>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="warn" (click)="onSubmit()">Cancel</button>
    <button mat-raised-button color="primary" routerLink="/dashboard" (click)="finishWorkout()">Finish</button>
  </mat-card-actions>
</mat-card>