.set-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.input-num {

  max-width: 20%;
}

mat-panel-description {
  justify-content: right;
}

/* mat-checkbox {
  margin-bottom: 20px;
} */

.mg-btm20 {
  margin-bottom: 20px;
}

.mg-btm13 {
  margin-bottom: 13px;
}